---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<h1>I lost 21 kg’s in 1 Year … this is what I did</h1>

<p>
2021 my weight was around 115kg, the heaviest I’ve ever been. I decided to be healthier and lose weight, but to be honest at this point I had no idea what healthy meant. So started my nerd brain and started to learn on how to be healthier.
    <img src="/images/losing-weight/losing-2021.png" class="blog_image_small">
    <img src="/images/losing-weight/losing-2022.png" class="blog_image_small">
</p>

<h2> Cutting sweets </h2>
<p>
    The first thing was cutting sweets from my meal plan.
    But to be honest, I didn't cut all sweets. Sometimes I snack some, but much less than before.
<p>
    I don’t eat sweets and salty snacks everyday, but every other day I'll treat myself.
</p>
<p>
    Sugar is not evil. You can eat it, but you have to watch what enters your body and there is no way around in counting calories, if you want lose weight.
</p>

<h2> It’s all about calories</h2>
<p>
    If you want to lose weight, you have to count calories. There is no other way. You have to measure what goes into your body and how much will go out.
    It’s simple physics: How much energy goes in and how much goes out?
</p>
<p>
    You have to have a deficit in calories to lose weight.
    This can be done with your food or/and additional activity.
    This can be sports, but I was never the a big fan of sports. In school I hated sports, I was the one who was always last and not motivated to do anything. Probably every session involved football (which I hated).
</p>
<p>
    So what I did is watch my intake calories and take the only activity I could imagine: Walk.
</p>
<h2> Let’s go for a walk </h2>
<p>
    Going for a walk is the easiest thing you can do to improve your health and support your weight loss.
</p>
<p>
    In my dinner break I always go out for a walk. The first time I was walking at least 30 Minutes a day.
</p>
<p>
    I started to use Google Fit on my Smartphone to track my steps. That worked as a beginning routine, but was not very accurate. It was clear that a may need additional gear, but it didn’t happen until almost a year later.
    Even without theses accurate tools, I was able to lose weight. Because I always knew the approximate number of my intake calories.
    Every additional step I added an extra point to the calorie deficit.
</p>
<p>
    At the beginning I was going for 30 Minutes wich were approximately 3500 - 4000 Steps. This has been increased to 10.000 steps over the year.
</p>
<p>
    For the last 3 months I’ve been walking 10.000 steps every day. Sometimes it is hard, but most times it is easy now.
    I created a habit of walking in my lunch break, I really can’t live without it. I need to go out no matter of weather.
</p>
<p>
    Beside the benefit of the additional calorie deficit, it really clears your mind.
</p>

<h2>Cook at home</h2>
<p>
    Sugar and Salt are cheap. That’s why it is used in huge amounts in processed food.
</p>
<p>
    My advice is: Don’t renounce certain foods you like, just look at your food and try to make it a bit healthier, each time you are cooking it. I for example like to eat fries and some kind of processed meat like Chicken Nuggets or Köttbullar.
    The first thing I did to this meal is to add some vegetables (which a rarely did before). Some beans, roasted Paprika or Zucchini.
    The fact is that I automatically eat less fries and processed meat, but more vegetables.
</p>
<p>
    The next thing I did is to replace the processed Meat with Fish, Chicken Breast or Chicken Legs. Just buy some spices you like and season these things.
    In Homeoffice I used an Optigrill to make it fresh. Just put the Fish, Meat or Veggies in the Grill and wait for the Beep. Don’t wear Noise Cancelling during this time or your fish will be very dry.
</p>
<p>
    A rice cooker is an absolute blast. Don’t tell me: „BuT I cAn CoOk iT wiTh a PoT“. You are wrong and millions of people in Asia will agree that a rice cooker is the preferred way to make rice.
    <img src="https://media.cdn.kaufland.de/product-images/1024x1024/1d7ccf0c9ee25feaad9557ec8d1a0fe5.jpg" class="blog_image">
</p>
<p>
    Tools like these are there too help me. I often have little time on a working day, so I will use tools like a rice cooker or an Optigrill.
</p>
<p>
    Try to add healthy food to your plate instead of removing food. This is a very cheap trick, to convince your brain to go with the healthy food.
    This all looks pretty basic to some people, but if you rarely had a healthy lifestyle this is a big deal.
</p>

<h2>Homeoffice Meals</h2>
<p>
    Getting something healthy to eat can be hard. But being in Homeoffice helped me a lot to prepare my meals.
</p>
<p>
    Rice cooker, Airfryer and an Optigrill were a game changer for me.
</p>
    <img src="https://sizzlebrothers.de/wp-content/uploads/2019/09/tefal_optigrill_elite_geschlossen.jpg" class="blog_image">
<p>
    If you got the money and space, I recommend to get these things. They help you create a fast and healthy meal without standing in the kitchen for 30 Minutes.
</p>
<p>
    Another trick is to do meal prep. Take an evening to cook some meals for the week. It is a simple trick to avoid choosing an unhealthy meal.
</p>

<h2> Getting a Smartwatch</h2>
<p>
    In march 2022 I got myself a Smartwatch. Initially this was to count my steps properly.
    But nearly after a month I discovered that there workout coaching and I just thought: „Well may be I can try these“
</p>
<p>
    So: I do sports now.
</p>
<p>
    I use a Galaxy Smartwatch 4 and it was really a difference in how I do sports.
</p>
<p>
    As I’m writing this lines I was able to run 5km without a pause, which is absolutely stunning if you know the fact, that I wasn’t able to run 500m without getting out of breath.
    I tried running a bunch of times in my life, but was never able to keep up with it, because after a few runs I couldn’t handle the exhaustion and pain.
    I hated running for years, I couldn't understand, how someone could go through this several times a week.
</p>
<p>
    So what changed? Well with the coaching programs, I figured something out: I was running to fast.
</p>
<p>
    That’s it: I was too fast. The watch checked my pulse and it was far too high. I needed to run slower, so I did, and I really liked it.
</p>
<p>
    I choose a program to prepare for 5km in 12 weeks.
    Currently I'm in this program for 12 weeks, and the runs are not easy but also not hard.
    The program I choose prepared me for these runs.
    It started very slow but became more challenging every week.
</p>
<p>
    <img src="/images/losing-weight/running-start.jpeg" class="blog_image_small">
</p>
<p>
    While I hated running before this, now I am loving it.
    It is something different to walking, because you have to focus on so many things your body is doing.
    Breathing, watch your posture and checking your speed.
    It gives you a self-awareness I didn't have before.
</p>
<p>
    <img src="/images/losing-weight/running-end.jpeg" class="blog_image_small">
</p>
<p>
    I can proudly say with 32 years: I like sports now.
</p>

<h2> Conclusion </h2>
<p>
    Basically you have to watch your intake calories that's it.
    In my honest opinion a specific diet like "no sugar", "low carb" and "keto" can work, BUT you have to like it.
    You won't be able to go through this, if you feel of missing something out. Add something healthy to the dinner table instead of removing something.
</p>
<p>
    You don't have to do Sports. I lost 18 kg just by walking and check what I eat and I think everybody can do it.
    But sports can definitivly help you to get to your goals.
</p>
<p>
    My goal was not to loose weight or do sports, but to become a healthy person.
</p>