---
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../components/Card.astro';
---

<h1>Web Engineering Aachen Survey - 2019</h1>
<p><img src="/images/Web-Engineering-Aachen.svg" alt="Web Engineering Aachen Logo" class="blog_image"/></p>
<p>In January 2019 we started with our first meetup at
    <a href="https://www.meetup.com/Web-Engineering-Aachen/">Web Engineering Aachen</a>., since then
    a lot has changed.
    So we took an opportunity to ask YOU what YOU want.
   </p>

<h2>Attendance</h2>
<p><img src="/images/meetup-survey/attendance-meetup.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>Changing Locations</h2>
<p><img src="/images/meetup-survey/changing-locations.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>Response to changing locations</h2>
<p><img src="/images/meetup-survey/different-locations.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

The reason why we wanted to change location is to get to know the IT scene in Aachen even better.
There are always companies and people you never heard about and we wanted to open up this scene.<br>
<br>
We are glad you liked it and we will keep an eye for possible sponsors!

<h2>Every month</h2>
<p><img src="/images/meetup-survey/every-month.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

Organize this Meetup is a lot of work. Look and talk with possible speakers, find sponsors that also comfort you well-being during these event and
putting this all together is a lot of work. A work that we do in our free time, while working on our regular jobs.<br>
<br>
Doing this for every month would be even more work. And I was ready to do this extra work if people say: "Please do this, I can't live without this".<br>
But I had a private incident that let me step back from these plans.<br>
<br>
We will doing it as before, I hope you'll understand this.

<h2>General Comments</h2>
<p><img src="/images/meetup-survey/general-comments.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

:D

<h2>Improved Locations</h2>
<p><img src="/images/meetup-survey/improved-location.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

You are right! <br>
Sometimes there are locations that are hard to find. We'll improve this for our upcoming events!

<h2>Topics</h2>
<p><img src="/images/meetup-survey/like-to-hear-more-about.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

We try to create a proper mix for everybody, but we can't serve everybody. If you read this and have an idea for a talk
just reach out and we will figure something out! <br>
We try to mix it even more in the future, so everybody can hear and talk about a topic they love.<br>
<br>
A personal advise I always give: Go to talks you are not interested in at first. Most time you will be astonished what you can learn.

<h2>Organization Feedback</h2>
<p><img src="/images/meetup-survey/orginization.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

We appreciate it very much, that you liked how we handle the stuff. It is often a lot of work during these events.

<h2>Improving Organization</h2>
<p><img src="/images/meetup-survey/improvements-organinzation.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>


<h2>Reason Attendance</h2>
<p><img src="/images/meetup-survey/reason-attendance.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

Awesome that you don't come just for the food and drinks :D <br>
<br>
And even more awesome that you come because of the reasons why we created these events.

<h2>Talk Topics</h2>
<p><img src="/images/meetup-survey/talk-topics.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>Talks Per Evening</h2>
<p><img src="/images/meetup-survey/talks-per-evening.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

As you we had the feeling that one talk was too little for a event that happens every second month.<br>
That is why increased the talks per evening from one talk to two talks.
We are very glad you liked the change!

<h1>Meetup Feedback</h1>

This is the feedback we received on <a href="https://meetup.com">Meetup.com</a>.
These feedback is optional, so many thanks if you took the chance and give us feedback to the single events!

<h2>November</h2>
<p><img src="/images/meetup-survey/meetup/meetup-november-2019.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>September</h2>
<p><img src="/images/meetup-survey/meetup/meetup-september-2019.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>July</h2>
<p><img src="/images/meetup-survey/meetup/meetup-july.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>May</h2>
<p><img src="/images/meetup-survey/meetup/meetup-may.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>March</h2>
<p><img src="/images/meetup-survey/meetup/meetup-march.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>

<h2>January</h2>
<p><img src="/images/meetup-survey/meetup/meetup-january.png" alt="MeetupImage" class="blog_image"/></p>
<p></p>